.property-details {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__back-btn {
    width: 30px;
    position: fixed;

    cursor: pointer;
  }

  &__icon-arrow {
    height: 30px;
    transform: rotate(90deg);
    margin-left: 20px;
  }

  &__photo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__photo-container-thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 300px;
    max-height: 200px;
  }

  &__photo-thumbnail-item {
    max-width: 150px;
    max-height: 100px;
  }

  &__photo-item {
    max-width: 300px;
  }

  &__body-description {
    max-width: 400px;
  }

  &__body-container {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__body-table {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: thin solid #e8e9ea;
    box-shadow: 0 15px 55px -15px rgba(37, 38, 40, 0.15);
    border-radius: 10px;
  }

  &__body-td {
    border: thin solid #e8e9ea;
    border-radius: 10px;
    width: 200px;
    padding: 8px 12px;
  }

  &__left-wrap {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  &__right-wrap {
    display: flex;
    flex-direction: column;
  }

  &__map-container {
    width: calc(100vw);
    height: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
}

.property-details-form {
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.171);
  box-shadow: 0 15px 55px -15px rgba(37, 38, 40, 0.15);
  padding: 20px 20px;
  margin-right: 20px;

  @media (max-width: 768px) {
    max-width: 350px;
    margin-left: 32px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
  }

  &__submit-btn {
    outline: auto;
    background-color: #f29e7e;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
  }
}
