.top-bar {
  &__container {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0 20px 20px 20px;
    z-index: 10;
  }

  &__items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
    padding: 10px 0 20px 0;
    margin-bottom: 15px;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__logo-icon {
    height: 42px;
    margin-right: 20px;

    &:hover {
      transform: rotate(30deg);
      transition: all 0.1s;
    }
  }

  &__logo-text {
    padding-right: 20px;
    margin-bottom: 0;
    white-space: nowrap;
  }

  &__add-btn-container {
    padding: 0 8px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: var(--orange-color);
    transition: all 0.2s;
    border: transparent;
    outline: none;

    &:hover {
      background-color: var(--orange-color-hover);
    }
  }

  &__add-btn-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
  }

  &__filters-container {
    display: flex;
    justify-content: space-between;
  }
}
