.top-bar {
  &__container {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0 20px 20px 20px;
    z-index: 10;
  }

  &__items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
    padding: 10px 0 20px 0;
    margin-bottom: 15px;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__logo-icon {
    height: 50px;
    margin-right: 20px;

    &:hover {
      transform: rotate(30deg);
      transition: all 0.1s;
    }
  }

  &__logo-text {
    padding-right: 20px;
    margin-bottom: 0;
    white-space: nowrap;
  }
}
