.property-details {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__back-btn {
    width: 30px;
    position: relative;
    cursor: pointer;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__icon-arrow {
    height: 30px;
    transform: rotate(90deg);
    margin-left: 20px;
  }

  &__photo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    column-gap: 10px;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__photo-container-thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 10px;

    // column-gap: 10px;
    max-width: 300px;
    max-height: 200px;
  }

  &__photo-thumbnail-item {
    max-width: 140px;
    max-height: 95px;
    // margin-right: 10px;
  }

  &__photo-item {
    max-width: 300px;
  }

  &__body-description {
    max-width: 400px;
  }

  &__body-container {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__body-table {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: thin solid #e8e9ea;
    box-shadow: 0 15px 55px -15px rgba(37, 38, 40, 0.15);
    border-radius: 10px;
  }

  &__body-td {
    border: thin solid #e8e9ea;
    border-radius: 10px;
    width: 200px;
    padding: 8px 12px;
  }

  &__left-wrap {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  &__right-wrap {
    display: flex;
    flex-direction: column;
  }

  &__map-container {
    width: calc(100vw);
    height: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
}
