/* master.scss */
:root {
  /* Global colors */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;

  /* Custom colors */
  --orange-color: #fe900a;
  --orange-color-hover: #ea8203;

  /* Global font family */
  --font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
  color: #333;
}
