.search-bar {
  &__container {
    display: flex;
    flex: 1 1 100%;
  }

  &__input {
    height: 10px;
    border: thin solid rgba(37, 38, 40, 0.27);
    box-shadow: 0 2px 1px rgba(37, 38, 40, 0.05);
    border-radius: 4px;
    padding: 20px;
    width: 100%;
    outline: none;
  }
}
