.search-bar {
  &__container {
    display: flex;
    width: 100%;
    max-width: 660px;

    @media (max-width: 480px) {
      input {
        font-size: 12px;
      }
    }
  }

  &__input {
    height: 10px;
    border: thin solid rgba(37, 38, 40, 0.27);
    box-shadow: 0 2px 1px rgba(37, 38, 40, 0.05);
    border-radius: 4px;
    margin-right: 10px;
    padding: 20px;
    width: 100%;
    outline: none;
  }

  &__search-btn-container {
    padding: 9px 12px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #f29e7e;
    transition: all 0.2s;
    border: transparent;
    outline: none;

    &:hover {
      background-color: #f68c62;
    }

    @media (max-width: 480px) {
      display: none;
    }
  }

  &__search-btn-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
  }
}
