.view {
}

.middle-page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 768px) {
    align-items: center;
    flex-direction: column-reverse;
  }
}
