.view {
  &--loading {
    opacity: 40%;
  }

  &--landing-page {
    // background-image: url("../api/images/background.webp");
  }
}

.loading-layer {
  opacity: 40%;
  pointer-events: none;

  &--hidden {
    pointer-events: all;
    opacity: 100%;
  }
}

.middle-page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 768px) {
    align-items: center;
    flex-direction: column-reverse;
  }

  &--loading {
    opacity: 40%;
  }
}
