.map-wrapper {
  position: sticky;
  height: calc(100vh - 160px);
  flex: 1 1 85%;
  top: 156px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.map {
  &__container {
    width: 100%;
    position: absolute;
    right: 0;
  }
  &__marker-container {
  }
  &__marker-photo {
    width: 100px;
    height: 80px;
  }
}
