$orange-color: #f29e7e;

.filters {
  &__container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 16px;

    div,
    li {
      font-size: 14px;
    }
  }

  &__open-button {
    margin-bottom: 16px;
    color: $orange-color;
    border: 1px solid $orange-color;

    :hover {
      background-color: $orange-color;
      color: #fff;
      border: 1px solid $orange-color;
    }
  }

  &__item {
    height: 40px;
    margin-right: 10px;
  }

  &__dropdown-container {
    // max-height: 125px;
    padding: 20px;
    border-radius: 4px;
    top: 145px;
    box-shadow: 5px 5px 15px 1px rgba(37, 38, 40, 0.1);
  }

  &__dropdown-input {
    width: 130px;
    height: 34px;
    padding-left: 10px;
    border: 1px solid #c4c2c2;
    border-radius: 4px;
  }

  &__dropdown-list {
    overflow-y: auto;
    height: 150px;
    margin-top: 5px;
    padding-left: 0;
  }

  &__dropdown-list-item {
    padding-top: 5px;
    list-style-type: none;
    border-radius: 4px;
    padding: 5px 0 5px 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(242, 159, 126, 0.223);
      cursor: pointer;
      // color: white;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  padding-top: 5px;
}

::-webkit-scrollbar-track {
  background: #dedede;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
