$orange-color: #f29e7e;

.filters {
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-right: 16px;

    div,
    li {
      font-size: 14px;
    }
  }

  &__open-button {
    margin-bottom: 16px;
    color: $orange-color;
    border: 1px solid $orange-color;

    :hover {
      background-color: $orange-color;
      color: #fff;
      border: 1px solid $orange-color;
    }
  }

  &__item {
    height: 40px;
    margin-right: 10px;
  }
}
