.map-wrapper {
  position: sticky;
  height: calc(100vh - 160px);
  flex: 1 1 85%;
  top: 156px;
  max-width: 60%;

  :focus-visible {
    outline: none;
  }

  @media (max-width: 768px) {
    // width: 100%;
    display: none;
  }
}

.map {
  &__container {
    width: 100%;
    position: absolute;
    right: 0;
  }

  &__marker-container {
    // border-radius: 20px;
  }

  &__marker-photo {
    // width: 100px;
    height: 80px;
    // border-radius: 20px 20px 0 0;
  }

  &__marker-content-container {
    display: flex;
    flex-direction: row;
  }

  &__marker-content-items {
    display: flex;
    flex-direction: column;
    // padding: 5px 10px;
  }
}
