.landing-page {
  height: 100vh;
  background-image: url("../../assets/images/background5.jpg");
  background-color: rgba(188, 88, 88, 0.38);
  background-size: cover;
  background-repeat: no-repeat;

  &__top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 10px 20px 20px 20px;
    z-index: 10;
  }

  &__body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    margin: auto;
    justify-content: center;
  }

  &__body-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 50px;
    padding: 20px;
    position: relative;
    width: 100%;
    max-width: 700px;
    box-shadow: 0px 2px 3px rgba(128, 128, 128, 0.384);
    border-radius: 15px;
    background-color: white;

    @media (max-width: 768px) {
      width: 80%;
    }
  }

  &__body-text {
    font-weight: 700;
    line-height: 1.1;
    font-size: 40px;
    max-width: 700px;
    // margin-top: 25px;
    padding: 0 25px;
    text-align: center;
  }

  &__btn {
    background-color: white;
    font-size: 14px;
    border: thin solid grey;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 400;
  }

  &__user-profile-btn {
    @media (max-width: 480px) {
      margin-left: 10px;
    }
  }
}
