$listing-description-font-size: 14px !default;

.listings {
  &__container {
    display: flex;
  }

  &__list {
    border-radius: 10px;
    margin-bottom: 20px;

    &--skeleton {
      border-radius: 10px;
      margin-bottom: 20px;

      &:hover {
        cursor: auto;
        box-shadow: none;
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0px 2px 3px rgba(128, 128, 128, 0.384);
      transition: all 0.1s ease;
    }
  }

  &__ul {
    padding: 0 20px;
    list-style-type: none;
    width: 100%;

    @media (max-width: 768px) {
      // margin-top: 230px;
    }
  }

  &__no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

.listing-card {
  &__container {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(128, 128, 128, 0.171);

    border-radius: 10px;
    // max-width: 550px;

    @media (max-width: 768px) {
      flex-direction: column;
      // border-radius: 10px 0 0 10px;
    }
  }

  &__link {
    text-decoration: none;
    color: black;
  }

  &__photo {
    max-width: 200px;
    width: 100%;
    // padding-right: 20px;
    margin-bottom: -1px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    // z-index: -1;

    @media (max-width: 768px) {
      max-width: 100%;
      padding-right: 0;
      border-radius: 10px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 10px;
    padding-left: 20px;

    @media (max-width: 768px) {
      padding-left: 20px;
    }
  }

  &__body-title {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
  }

  &__body-content {
    font-size: 12px;

    p {
      margin: 0;
    }
  }

  &__body-list-ul {
    padding: 0;
    list-style-type: none;

    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }
  }

  &__body-description {
    padding-bottom: 10px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__body-description-text {
    font-size: $listing-description-font-size;
    margin-bottom: 0;
  }

  &__body-description-mobile {
    position: absolute;
    bottom: 0;
    justify-content: center;
    text-shadow: 6px 9px 3px black;
    color: white;
  }

  &__body-list-item {
    display: flex;
    align-items: center;
  }

  &__body-button {
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;

    @media (max-width: 768px) {
      padding-top: 0px;
      padding-bottom: 10px;
    }
  }

  &__price {
    font-size: 20px;
    font-weight: bold;
  }

  &__comparison {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: var(--orange-color);

    &:hover {
      opacity: 0.8;
      border-radius: 3px;
      transition: all 0.2s ease-in;
      cursor: pointer;
    }

    &--full {
      background-color: transparent;
      pointer-events: none;

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__comparison-text {
    padding: 5px 10px;
    margin-bottom: 0;
    color: white;
  }
}

.icon-area {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.skeleton {
  &:hover {
    cursor: none;
    box-shadow: none;
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__image {
    margin-right: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}
